<!DOCTYPE html>
<html lang="" data-ng-app="GoogleDirection">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/home.css">
    <style>
        body {
            background:url('home.jpg');
            background-size:cover;
        }
        .map-canvas {
            width:100px;
            height:250px;

        }
        fonts {

            font-family:courier;
            text-align: left;
            font-size: medium;

        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF24qrrGnj3NJkVKraR38G8mBfGf5Spbk&v=3.exp&sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapp" ng-controller="googlemapoutput">

    <div class="frameleft">
        <input type="text" placeholder="Enter Starting Point"  autocomplete="on" ng-model="startlocation" id="startlocation"/>
        <input type="text" placeholder="Enter Destination Point"  autocomplete="on" ng-model="endlocation"  id="endlocation" />
        <button class="button" ng-click="calcRoute()"><b>Get Direction</b></button>
        <button class="button" ng-click="getWeather()"><b>Get Weather</b></button><br>
        <br>
        <br>
        <br>
        <div id="map-canvas" style="height:400px";></div><br><br><br>
        <form action="index.html">
        <button class="button">Logout</button><br>
        </form>
        <br/>
        <br/>

    </div>

    <div class="frameright">
        <br/>
        <br/><br/>
        <br><br>
        <div data-ng-model="starttemp"></div>
        <div data-ng-model="endtemp"></div>
        <p class="fonts"> Temperature and climate in {{startlocation}} : {{starttemp}} &deg F  {{ weatherstart}}</p>
        <p class="fonts"> Temperature and climate in {{endlocation}} : {{endtemp}} &deg F  {{ weatherend}} </p>

    </div>

</div>

</body>
</html>
<script>

    angular.module('GoogleDirection', [])
        .controller('googlemapoutput', function ($scope,$http) {
            var map;
            var mapOptions;
            var directionsDisplay = new google.maps.DirectionsRenderer({
                draggable: true
            });
            var directionsService = new google.maps.DirectionsService();
            $scope.initialize = function () {
                var pos = new google.maps.LatLng(0, 0);
                var mapOptions = {
                    zoom: 3,
                    center: pos
                };
                map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            };
            $scope.calcRoute = function () {
                var end = document.getElementById('endlocation').value;
                var start = document.getElementById('startlocation').value;
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode.DRIVING
                };
                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setMap(map);
                        directionsDisplay.setDirections(response);
                        console.log(status);
                    }
                });
            };
            google.maps.event.addDomListener(window, 'load', $scope.initialize);
            $scope.getWeather = function () {
                $http.get('http://api.openweathermap.org/data/2.5/weather?q='+document.getElementById('startlocation').value+'&appid=94bd3faff0d7c5160b8cd06d7e676e9a').success(function(data){
                    console.log(data);
                    temp2 =  data.main.temp;
                    weather2 = data.weather[0].main;
                    console.log(temp2)
                    $scope.starttemp= ((temp2 * 9/5)-459.67);
                    $scope.weatherstart = weather2;
                });
                $http.get('http://api.openweathermap.org/data/2.5/weather?q='+document.getElementById('endlocation').value+'&appid=94bd3faff0d7c5160b8cd06d7e676e9a').success(function(data){
                    temp1 =  data.main.temp;
                    console.log(temp1);
                    weather1 = data.weather[0].main;
                    icon = data.icon;
                    $scope.endtemp= ((temp1 * 9/5)-459.67);
                    $scope.weatherend = weather1;
                });
            }
        });

</script>

